
@{
    ViewBag.Title = "AgregarTarea";
    Layout = "~/Views/MasterPages/_layoutEmpleador.cshtml";
}

<section class="section pb-3 text-center text-lg-left">
    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Nueva tarea</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás dar de alta una tarea nueva
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="md-form form-group">
                <input type="email" class="form-control" id="inputEmail4MD">
                <label for="inputEmail4MD">Email</label>
            </div>

            <div class="md-form">
                <textarea type="text" id="textareaBasic" class="form-control md-textarea" rows="3" placeholder="Descripción"></textarea>
            </div>
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

        </div>
    </div>
</section>