
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutEstudiante.cshtml";
}

<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Tareas disponibles</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás encontrar todas las tareas disponibles que han sido subidos por los empleadores
    </p>

    <p class="section-description text-center">
        <div class="row">
            <div class="col s3">
                <div class="btn-group">

                    <div class="dropdown">
                        <button class="btn btn-outline-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col s3">
                <div class="btn-group">
                    <button class="btn btn-outline-default waves-effect">Aceptar</button>
                </div>
            </div>

            <div class="col s2">
                <label class="col-form-label">Rango (KM)</label>
            </div>

            <div class="col s2">
                <input class="range-field" type="number" min="0" max="100" />
            </div>

            <div class="col s2">
                <button class="btn btn-outline-default waves-effect">Aceptar</button>
            </div>

        </div>

    </p>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay rgba-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-default waves-effect waves-light">Ver más</a>
                </div>

            </div>
            <!--/.Card-->

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay rgba-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-default waves-effect waves-light">Ver más</a>
                </div>

            </div>
            <!--/.Card-->

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay rgba-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-default waves-effect waves-light">Ver más</a>
                </div>

            </div>
            <!--/.Card-->

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay rgba-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-default waves-effect waves-light">Ver más</a>
                </div>

            </div>
            <!--/.Card-->

        </div>
    </div>

</section>
