
@{
    ViewBag.Title = "MisTareas";
    Layout = "~/Views/MasterPages/_layoutEstudiante.cshtml";
}

<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Mis tareas</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás encontrar y gestionar las tareas que ya se han aceptado de ambas partes
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://i.ytimg.com/vi/-bysikWgkm4/maxresdefault.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body text-center">
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <button type="button" class="btn btn-outline-default waves-effect waves-light">
                                <i class="fa fa-envelope-o left"></i>
                                <span>Mensaje</span>
                            </button>
                            <a href="javascript:void(0)" class="btn btn-outline-default waves-effect">
                                <i class="fa fa-plus-square left"></i> Ver más
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="dashed" />

        <div class="col-xs-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://i.ytimg.com/vi/-bysikWgkm4/maxresdefault.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body text-center">
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <button type="button" class="btn btn-outline-default waves-effect waves-light">
                                <i class="fa fa-envelope-o left"></i>
                                <span>Mensaje</span>
                            </button>
                            <a href="javascript:void(0)" class="btn btn-outline-default waves-effect">
                                <i class="fa fa-plus-square left"></i> Ver más
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="dashed" />

        <div class="col-xs-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://i.ytimg.com/vi/-bysikWgkm4/maxresdefault.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body text-center">
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <button type="button" class="btn btn-outline-default waves-effect waves-light">
                                <i class="fa fa-envelope-o left"></i>
                                <span>Mensaje</span>
                            </button>
                            <a href="javascript:void(0)" class="btn btn-outline-default waves-effect">
                                <i class="fa fa-plus-square left"></i> Ver más
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="dashed" />
    </div>
</section>