<link href="~/Recursos/FrontEnd/css/mensajes/style.css" rel="stylesheet" />
<div class="widget-list">
    <div class="row no-gutters">
        <div class="col-md-6 widget-holder widget-no-padding">
            <div class="widget-bg">
                <div class="widget-body clearfix">
                    <div class="row no-gutters">  
                        <!-- /.mail-sidebar -->
                        <!-- Mails List -->
                        <div class="col-lg-10 col-md-8 col-12 mail-inbox">
                            <table class="mail-list table-responsive">
                                <tbody>
                                    <tr class="unread">
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox" checked="checked">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user4.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jerome Sallee</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-info px-2">Family</span> Chilling in Hawaii!!!</a>
                                        </td>
                                        <td class="mail-list-time">8:30 pm</td>
                                    </tr>
                                    <tr class="unread">
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox" checked="checked">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user2.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons text-warning">star</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jacob Hubertus</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">What you've learn't about creating?</a>
                                        </td>
                                        <td class="mail-list-time">7:22 pm</td>
                                    </tr>
                                    <tr class="unread">
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/img/default-avatar.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jeremy Pervorse</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">Street Photography Competition</a>
                                        </td>
                                        <td class="mail-list-time">Jun 15</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox" checked="checked">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user7.jpg" alt="">
                                                </figure>
                                                <label></label>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Gustav Butlex</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-success px-2">Friends</span> Playstation this weekend?</a>
                                        </td>
                                        <td class="mail-list-time">Jun 15</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user6.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Sarah Paramentor</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-danger px-2">Work</span> [Dribbble] Work Inquiry from Google Inc.</a>
                                        </td>
                                        <td class="mail-list-time">Jun 15</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/img/default-avatar.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Victor Erixon</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">HTML & CSS Tutorial?</a>
                                        </td>
                                        <td class="mail-list-time">Jun 14</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user4.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jerome Sallee</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-info px-2">Family</span> Chilling in Hawaii!!!</a>
                                        </td>
                                        <td class="mail-list-time">Jun 13</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox" checked="checked">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user2.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons text-warning">star</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jacob Hubertus</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">What you've learn't about creating?</a>
                                        </td>
                                        <td class="mail-list-time">Jun 10</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user3.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons text-warning">star</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Jeremy Pervorse</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">Street Photography Competition</a>
                                        </td>
                                        <td class="mail-list-time">Jun 9</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user7.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Gustav Butlex</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-warning px-2">Friends</span> Playstation this weekend?</a>
                                        </td>
                                        <td class="mail-list-time">Jun 8</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user6.jpg" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Sarah Paramentor</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html"><span class="badge bg-danger px-2">Work</span> [Dribbble] Work Inquiry from Google Inc.</a>
                                        </td>
                                        <td class="mail-list-time">Jun 8</td>
                                    </tr>
                                    <tr>
                                        <td class="mail-list-user">
                                            <label>
                                                <input type="checkbox">
                                                <figure>
                                                    <img width="30" height="30" class="rounded-circle" src="assets/demo/users/user-image.png" alt="">
                                                </figure>
                                            </label>
                                        </td>
                                        <td class="mail-list-star">
                                            <i class="list-icon material-icons">star_bordered</i>
                                        </td>
                                        <td class="mail-list-name">
                                            <a href="app-inbox-single.html">Victor Erixon</a>
                                        </td>
                                        <td class="mail-list-message">
                                            <a href="app-inbox-single.html">HTML & CSS Tutorial?</a>
                                        </td>
                                        <td class="mail-list-time">Jun 7</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.mail-list -->
                        </div>
                        <!-- /.mail-inbox -->
                    </div>
                    <!-- /.mailbox -->
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>
        <!-- /.widget-holder -->
    </div>
    <!-- /.row -->
</div>
<!-- /.widget-list -->