@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutEmpleador.cshtml";
}

<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Mis Tareas</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás encontrar todas las tareas subidas por ti.
    </p>
    <div class="row">
@foreach (DataRow fila in Model.Rows)
{
    <div class="col-lg-4 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay rgba-white-slight">
                @if (fila["Imagen"].ToString() !="")
                {
                    string Foto = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])fila["Imagen"]);
                    <img src="@Foto" class="img-fluid" alt="">
                }
                else
                {
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                }
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">@fila["Titulo"]</h4>
                <!--Text-->
                <p class="card-text">@fila["Descripcion"]</p>
               <div class="row">
                   <div class="col-xl-6">
                       <a href="/Tareas/DetalleTareaDispo?Codigo=@fila["Codigo"]" class="btn btn-default waves-effect waves-ligh">
                           <i class="fa fa-plus-square left"></i> Ver más
                       </a>
                   </div>
                   <div class="col-xl-6">
                       <button type="submit" class="btn btn-outline-default waves-effect waves-light">
                           <i class="fa fa-close"></i>
                           <span>Terminar</span>
                       </button>
                   </div>
               </div>
            </div>

        </div>
        <!--/.Card-->

    </div>
}
    </div>

</section>

