@using Business_Object;
@model UsuarioBO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutAdmin.cshtml";
}


<div class="container-fluid card">
    @using (Ajax.BeginForm("datostabla", "AgregarEstudiante", new AjaxOptions() { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <h2>Buscar usuario</h2>
        <div class="row">
            <div class="col s5">
                <div class="input-field">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nombre</label>
                </div>
            </div>
            <div class="col s3">
                <p></p>
                <button type="submit" class="btn btn-success waves-effect waves-light">Buscar</button>
            </div>
            <div class="col s2">
                <p></p>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
            </div>
            <div class="col s2">
                <p></p>
                <button type="button" id="btn1" class="btn btn-success waves-effect waves-light">Reporte</button>
            </div>
        </div>

    }

    <div class="row">
        <div id="Tablausuarios" class="col-md-12">

        </div>
    </div>
</div>

<a class="waves-effect waves-light btn modal-trigger" data-toggle="modal" data-target="#myModal">Modal</a>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<div class="content letrasindexusuarios">
    <div @*class="container-fluid card"*@>
        <div class="row">
            <div id="dato"></div>
        </div>
    </div>
</div>

@if (ViewBag.Agregar != null)
{
    <script>
        window.onload = function () {
            swal('Correcto', 'Se agregó correctamente el nuevo usuario', 'success')
        }
    </script>
}

<script>
    $(document).ready(function () {
        $('#modal').modal();
    });

</script>

<script src="@Url.Content("~/Recursos/BackEnd/js/jquery-2.0.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function tabla() {
        $('#Tablausuarios').load('/AgregarEstudiante/MostarTabla');
    }
    function datos() {
        $('#dato').load('/AgregarEstudiante/EditarDatos');
    }
</script>
<script type="text/javascript">
    function ocultar() {
        document.getElementById('lol').style.display = 'none';
    }
</script>
<script>
    function valida(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patron de entrada, en este caso solo acepta numeros
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>

